// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * t8112 specific macsmc-hwmon sensors
 *
 * Copyright The Asahi Linux Contributors
 */

&smc {
	macsmc-hwmon {
		apple,temp-keys {
			temp-TSCD {
				apple,key-id = "TSCD";
				apple,key-desc = "SoC Die Temp";
			};
			temp-Tp00 {
				apple,key-id = "Tp00";
				apple,key-desc = "CPU4 Temp1";
			};
			temp-Tp08 {
				apple,key-id = "Tp08";
				apple,key-desc = "CPU5 Temp1";
			};
			temp-Tp0e {
				apple,key-id = "Tp0e";
				apple,key-desc = "CPU6 Temp1";
			};
			temp-Tp0m {
				apple,key-id = "Tp0m";
				apple,key-desc = "CPU7 Temp1";
			};
			/* no idea what monitored by this */
			temp-Tp0a {
				apple,key-id = "Tp0a";
			};
			temp-Tp0b {
				apple,key-id = "Tp0b";
			};
			temp-Tp0c {
				apple,key-id = "Tp0c";
			};
		};
	};
};
